::selection {
    background: #a9d434;
    color: #fff;
}
a{
    color: #707c88;
}
.form-control:hover, .form-control:focus{
    border: 1px solid #a9d434;
    box-shadow: 0 1px 1px rgba(7,177,7,.075);
}
a.btn.call-btn {
    color:#a9d434;
}
.pagination li:first-child a {
    background: #a9d434;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .pagination>li>a:hover, .pagination>li>a:focus {
    color: #a9d434;
    background-color: rgba(7,177,7,0.1);
    border-color: #a9d434;
}
.inner-header-title {
    border-bottom: 4px solid #a9d434;
}
.inner-header-title.blank {
    background:#a9d434;
}
.action-btn .dropdown-menu>li>a:hover, .action-btn .dropdown-menu>li>a:focus {
    background: #a9d434;
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:#a9d434 !important;
}
.main-heading span.heading-line {
    background: #a9d434;
}
.job-feature:hover i {
    background: #a9d434 ;
}
.feature-icon i {
    color: #a9d434;
    background: rgba(7, 177, 7, 0.050980392156862744);
}
.work-process-caption h4:before{
    background:#a9d434;
}
.download-app:before {
    background: #a9d434;
}
.app-content a.btn.call-btn:hover {
    color: #a9d434;
}
.simple-banner h1 span {
    color: #a9d434;
}
.bottom-search-form button.btn.btn-primary {
    background: #11b719;
}
a.video-btn:hover i {
    background: #a9d434;
}
a.video-btn i {
    color: #a9d434;
    box-shadow: 0px 0px 20px 0px rgba(7, 177, 7,0.4);
}
.home-three-banner h1 span {
    color: #a9d434;
}
.home-three-banner button.btn.btn-primary {
    background: #a9d434;
    border: 1px solid #0bbf0b;
}
.gr-dark {
    background: #a9d434;
}
.gr-dark a.btn.bat-call-to-act {
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.gr-dark .call-to-act-caption h3 {
    color: rgba(255, 255, 255, 0.7);
}
.home-plane-banner h1 span {
    color: #a9d434;
}
a.btn.btn-banner {
    background: #a9d434;
}
#accordion .panel-heading > .panel-title > a {
    background: #a9d434;
}
#accordion .panel-title > a.collapsed:hover {
    color: #a9d434;
}
#accordion3 .panel-heading > .panel-title > a {
    background: #a9d434;
}
#accordion .panel-title>a.collapsed {
    background: #e7ecea;
    color: #707c88;
}
#accordion3 .panel-title>a.collapsed {
    background: #35434e;
    color: #707c88;
}
.brows-company:hover {
    border-left: 4px solid #a9d434;
}
.brows-job-list:hover {
    border-left: 4px solid #a9d434;
}
.brows-resume:hover {
    border-left: 4px solid #a9d434;
}
.brows-resume span.brows-resume-designation {
    color: #a9d434;
}
.brows-resume .browse-resume-rate span i {
    color: #a9d434;
}
.detail-status span {
    color: #a9d434;
    background: rgba(7, 177, 7,0.2);
}
.container.white-shadow {
    border-bottom: 3px solid #a9d434;
}
h2.detail-title {
    border-left:3px solid #a9d434;
}
ul.detail-list li:before {
    color: #a9d434;
}
.contact-box i {
    color: #a9d434;
}
.inputfile + label {
    background: #a9d434;
}
.detail-pic {
    border: 1px solid #a9d434;
}
.full-detail .input-group-addon {
    background: #a9d434;
}
button.add-field {
    background: #a9d434;
}
.btn-login {
    background: #a9d434;
}
.login-screen span a, .signup-screen span a, .lost-ps-screen span a {
    color: #a9d434;
}
.search-filter button.btn.btn-default {
    background: #a9d434;
}
.search-filter .dropdown-menu>li>a:hover, .search-filter .dropdown-menu>li>a:focus {
    background: #a9d434;
}
.manage-cndt .cndt-caption span {
    color: #a9d434;
}
.manage-cndt .cndt-profile-btn:hover, .manage-cndt .cndt-profile-btn:focus {
    background: #a9d434;
}
.mng-company:hover, .mng-company:focus {
    border-color: #a9d434;
}
.jn-employee:hover, .jn-employee:focus {
    border-color: #a9d434;
}
.employee-social li a:hover i, .employee-social li a:focus i {
    background: #a9d434;
}
.mng-resume h4 span.cand-designation {
    color: #a9d434;
}
.mng-resume:hover, .mng-resume:focus {
    border-color: #a9d434;
}
.manage-resume-box:hover, .manage-resume-box:focus {
    border-left: 3px solid #a9d434;
}
.pr-buy-button .pr-btn.active:hover, .pr-buy-button .pr-btn.active:focus {
    border-color: #a9d434;
}
.pr-buy-button .pr-btn {
    border: 1px solid #a9d434;
    color: #a9d434;
}
.login-panel label {
    color: #a9d434;
}
.nav.simple.nav-tabs li.active a {
    background: #a9d434;
}
.tab .nav-tabs li.active a, .tab .nav-tabs li.active a:hover {
    background: #a9d434;
}
.tab .nav-tabs li a {
    color: #a9d434;
}
.tab .nav-tabs li a:hover {
    background: #a9d434;
}
.pr-buy-button .pr-btn:hover, .pr-buy-button .pr-btn:focus {
    background: #a9d434;
}
.search-form button.btn.btn-default {
    background: #a9d434;
}
ul.sidebar-list li a span {
    color: #a9d434;
}
.blog-post-date {
    background: #a9d434;
}
.post-meta span.author, .post-meta span.category a {
    color: #a9d434;
}
.post-info {
    color: #a9d434;
}
.blog-content h2:hover, .blog-content h2:focus {
    color: #a9d434;
}
.comments-form button.thm-btn.btn-comment {
    background: #a9d434;
}
.comments-form button.thm-btn.btn-comment:hover, .comments-form button.thm-btn.btn-comment:focus {
    color: #a9d434;
    border: 2px solid #a9d434;
}
.rating.pull-right li i.active {
    color: #a9d434;
}
ul.list-inline.social li i:hover, ul.list-inline.social li i:focus {
    background: #a9d434;
}
.inner-header-title.advance-header-title h2 span, .inner-header-title.advance-header-title p span {
    color: #a9d434;
}
.right-sidebar h2.side-widget-title {
    background: #a9d434;
}
button.btn.btn-alrt {
    background: #a9d434;
}
.fileUpload span {
    background: #a9d434;
}
.modal .submit-btn:hover {
    background: #a9d434;
}
.breadcrumb>.active {
    color: #a9d434;
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    background: #a9d434;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
    background: #a9d434;
}
ul.detail-footer-social li a i:hover {
    background: #a9d434;
}
.error-page h2 span {
    color:#a9d434;
}
.error-page a.btn.btn-success.small-btn {
    background:#a9d434;
}
.deatil-tab-employ.tool-tab .nav.simple.nav-tabs li.active a {
    background: rgba(7,177,7,0.15);
    color:#a9d434;
    border-color:#a9d434;
}
button.update-btn {
    background:#a9d434;
}
span.info-bar {
    border: 1px solid #a9d434;
    background:rgba(7,177,7,0.15);
    color:#a9d434;
}
@media only screen and (min-width : 768px) {
    li.left-br {
        border-left: 2px solid rgba(169, 212, 52, 0.7);
    }
}
@media only screen and (min-width : 1024px) {
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
        border-color:#a9d434;
    }
}
