.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-twitter:before{content:"\f099";}
.fa-facebook:before{content:"\f09a";}
.fa-bars:before{content:"\f0c9";}
.fa-google-plus:before{content:"\f0d5";}
.fa-linkedin:before{content:"\f0e1";}
.fa-instagram:before{content:"\f16d";}
body{margin:0;}
footer,nav,section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
strong{font-weight:700;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;}
button{margin:0;font:inherit;color:inherit;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
h2,h3,p{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
.navbar{display:none;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
button{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
h2,h3,h4{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h2,h3{margin-top:20px;margin-bottom:10px;}
h4{margin-top:10px;margin-bottom:10px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
p{margin:0 0 10px;}
ul{margin-top:0;margin-bottom:10px;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:768px){
.container{width:750px;}
}
@media (min-width:992px){
.container{width:970px;}
}
@media (min-width:1200px){
.container{width:1240px;}
}
.row{margin-right:-15px;margin-left:-15px;}
.col-md-12,.col-md-3,.col-md-4,.col-md-6,.col-sm-12,.col-sm-4,.col-sm-6,.col-xs-12{position:relative;min-height:1px;padding:0 15px 15px 15px;}
.col-xs-12{float:left;}
.col-xs-12{width:100%;}
@media (min-width:768px){
.col-sm-12,.col-sm-4,.col-sm-6{float:left;}
.col-sm-12{width:100%;}
.col-sm-6{width:50%;}
.col-sm-4{width:33.33333333%;}
}
@media (min-width:992px){
.col-md-12,.col-md-3,.col-md-4,.col-md-6{float:left;}
.col-md-12{width:100%;}
.col-md-6{width:50%;}
.col-md-4{width:33.33333333%;}
.col-md-3{width:25%;}
.col-md-offset-4{margin-left:33.33333333%;}
}
.btn{display:flex;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:50%;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:active:focus,.btn:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);}
.collapse{display:none;}
.nav{padding-left:0;margin-bottom:0;list-style:none;}
.nav>li{position:relative;display:block;}
.nav>li>a{position:relative;display:block;padding:10px 15px;}
.nav>li>a:focus,.nav>li>a:hover{text-decoration:none;background-color:#eee;}
.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent;}
@media (min-width:768px){
.navbar{border-radius:4px;}
}
@media (min-width:768px){
.navbar-header{float:left;}
}
.navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .1);box-shadow:inset 0 1px 0 rgba(255, 255, 255, .1);}
@media (min-width:768px){
.navbar-collapse{width:auto;border-top:0;-webkit-box-shadow:none;box-shadow:none;}
.navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important;}
}
.container>.navbar-collapse,.container>.navbar-header{margin-right:-15px;margin-left:-15px;}
@media (min-width:768px){
.container>.navbar-collapse,.container>.navbar-header{margin-right:0;margin-left:0;}
}
.navbar-brand{float:left;height:50px;padding:15px 15px;font-size:18px;line-height:20px;}
.navbar-brand:focus,.navbar-brand:hover{text-decoration:none;}
.navbar-brand>img{display:block;}
@media (min-width:768px){
.navbar>.container .navbar-brand{margin-left:-15px;}
}
.navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:8px;margin-right:15px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;}
.navbar-toggle:focus{outline:0;}
@media (min-width:768px){
.navbar-toggle{display:none;}
}
.navbar-nav{margin:7.5px -15px;}
.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:20px;}
@media (min-width:768px){
.navbar-nav{float:left;margin:0;}
.navbar-nav>li{float:left;}
.navbar-nav>li>a{padding-top:15px;padding-bottom:15px;}
}
@media (min-width:768px){
.navbar-right{float:right!important;margin-right:-15px;}
}
.navbar-default{background-color:#f8f8f8;border-color:#e7e7e7;}
.navbar-default .navbar-brand{color:#777;}
.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{color:#5e5e5e;background-color:transparent;}
.navbar-default .navbar-nav>li>a{color:#777;}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#333;background-color:transparent;}
.navbar-default .navbar-toggle{border-color:#ddd;}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:#ddd;}
.navbar-default .navbar-collapse{border-color:#e7e7e7;}
.clearfix:after,.clearfix:before,.container:after,.container:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.row:after,.row:before{display:table;content:" ";}
.clearfix:after,.container:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.row:after{clear:both;}
.btn:active{background-image:none;}
.navbar-default{background-image:-webkit-linear-gradient(top, #fff 0, #f8f8f8 100%);background-image:-o-linear-gradient(top, #fff 0, #f8f8f8 100%);background-image:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));background-image:linear-gradient(to bottom, #fff 0, #f8f8f8 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat:repeat-x;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);box-shadow:inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);}
.navbar-brand,.navbar-nav>li>a{text-shadow:0 1px 0 rgba(255, 255, 255, .25);}
nav.bootsnav .container{position:relative;}
nav.navbar.bootsnav{margin-bottom:0;-moz-border-radius:0;-webkit-border-radius:0;-o-border-radius:0;border-radius:0;background-color:#fff;border:none;border-bottom:solid 1px #e0e0e0;z-index:9;}
nav.navbar.bootsnav ul.nav>li>a{color:#fff;text-transform:capitalize;background-color:transparent!important;font-family:Quicksand, sans-serif;}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#07b107!important;text-shadow:none;}
nav.navbar.bootsnav .navbar-toggle{background-color:#fff!important;border:none;padding:0;font-size:18px;position:relative;top:5px;}
body{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
nav.navbar.bootsnav.navbar-fixed{position:fixed;display:block;width:100%;z-index:222;}
@media (min-width:1024px){
nav.navbar.bootsnav ul.nav>li>a{padding:8px 10px 22px 8px;font-weight:400;font-size:13px;}
nav.navbar.bootsnav ul.nav>li{padding:4px 15px;}
}
@media (max-width:992px){
nav.navbar.bootsnav .navbar-brand{display:inline-block;float:none!important;margin:0!important;}
nav.navbar.bootsnav .navbar-header{float:none;display:block;text-align:center;padding-left:30px;padding-right:30px;}
nav.navbar.bootsnav .navbar-toggle{display:inline-block;float:left;margin-right:-200px;margin-top:10px;}
nav.navbar.bootsnav .navbar-collapse{border:none;margin-bottom:0;}
nav.navbar.bootsnav.no-full .navbar-collapse{max-height:350px;overflow-y:auto!important;}
nav.navbar.bootsnav .navbar-collapse.collapse{display:none!important;}
nav.navbar.bootsnav .navbar-nav{float:none!important;padding-left:30px;padding-right:30px;margin:0 -15px;}
nav.navbar.bootsnav .navbar-nav>li{float:none;}
nav.navbar.bootsnav .navbar-nav>li>a{display:block;width:100%;border-bottom:solid 1px #4a5a67;padding:10px 0;margin-bottom:-1px;}
nav.navbar.bootsnav .navbar-nav>li:first-child>a{border-top:none;}
body>.wrapper{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
}
@media (max-width:767px){
nav.navbar.bootsnav .navbar-header,nav.navbar.bootsnav .navbar-nav{padding-left:15px;padding-right:15px;}
}
.fa{display:inline-block;}
.fa{font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-twitter:before{content:"\f099";}
.fa-facebook:before{content:"\f09a";}
.fa-bars:before{content:"\f0c9";}
.fa-google-plus:before{content:"\f0d5";}
.fa-linkedin:before{content:"\f0e1";}
.fa-instagram:before{content:"\f16d";}
.icon-cloud,.icon-laptop,.icon-mobile{font-family:et-line;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:inline-block;}
.icon-mobile:before{content:"\e000";}
.icon-laptop:before{content:"\e001";}
.icon-cloud:before{content:"\e04b";}
.slick-list,.slick-slider,.slick-track{position:relative;display:block;}
.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:0;}
.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{top:0;left:0;margin-left:auto;margin-right:auto;}
.slick-track:after,.slick-track:before{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
.slick-initialized .slick-slide{display:block;}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
/*! CSS Used from: http://localhost/wisp/src/css/style.css */
body{width:100%;height:auto;margin:0;padding:0;overflow-x:hidden;}
body{background:#ffffff;font-family:'Montserrat', sans-serif;position:relative;font-size:14px;color:#35434e;line-height:24px;}
h2{font-size:30px;}
h3{font-size:25px;}
h4{font-size:16px;}
p{position:relative;font-size:14px;color:#707c88;line-height:23px;font-family:'Montserrat', sans-serif;transition:.2s ease-in;}
::selection{background:#a9d434;color:#fff;}
a{color:#707c88;}
a,a:active,a:focus,a:hover{outline:none;text-decoration:none;transition:all 0.3s ease-in-out;}
section{padding:70px 0 60px 0;background:#ffffff;}
:focus{outline:none;}
.btn:hover,button:hover,.btn:focus,button:focus{cursor:pointer;}
.btn{font-size:14px;border-radius:2px;padding:20px 20px;letter-spacing:0.5px;box-shadow:0 2px 8px rgba(102,103,107,.15);}
.btn:focus,.btn:hover{text-decoration:none;}
button:focus{outline:none;outline:none;}
.btn:focus{outline:0;box-shadow:none;}
button:hover,button:focus{outline:none;}
.main-heading{text-align:center;margin-bottom:2em;}
.main-heading h2{color:#35434e;position:relative;font-weight:600;margin-top:0px;margin-bottom:10px;font-family:'Montserrat', sans-serif;}
.main-heading h2>span{color:#a9d434;}
.navbar-default{background-image:none;background-image:none;background-image:none;background-image:none;filter:none;background-repeat:repeat-x;border-radius:0;box-shadow:none;}
nav.navbar.bootsnav ul.nav > li > a{color:#ffffff;text-transform:uppercase;background-color:transparent!important;font-family:'Montserrat', sans-serif;}
nav.navbar.bootsnav{background-color:rgba(53, 67, 78, 0.5411764705882353);border-bottom:1px solid rgba(53, 67, 78, 0.2784313725490196);}
@media only screen and (min-width : 768px){
body nav.navbar.bootsnav ul.nav > li > a.signin{background:rgba(0, 169, 216, .35)!important;}
body nav.navbar.bootsnav ul.nav > li > a.signin:hover{background:rgba(169, 212, 52, 0.15)!important;}
li.left-br{border-left:2px solid rgba(169, 212, 52, 0.6901960784313725);}
}
.banner{background-size:cover;padding-top:11%;padding-bottom:0%;position:relative;background-position:center;}
.banner:before{content:"";display:block;left:0;right:0;top:0;bottom:0;height:100%;width:100%;position:absolute;background:#282C32;opacity:0.64;}
.banner-caption{text-align:left;display:inline-block;width:100%;}
.banner-text{margin-top:5%;margin-bottom:5%;text-align:center;}
.banner p{font-family:'Montserrat', sans-serif;color:#ffffff;opacity:0.8;font-weight:300;font-size:18px;text-transform:capitalize;line-height:1.9;}
.banner-caption{text-align:left;display:inline-block;width:100%;}
.banner p{font-family:'Montserrat', sans-serif;color:#ffffff;opacity:0.8;font-weight:300;font-size:18px;text-transform:capitalize;line-height:1.9;}
.slide-banner{background-size:cover!important;background-position:center!important;padding:12% 0;position:relative;margin:0;overflow:hidden;}
.slideshow-container{position:absolute;top:0;left:0;width:100%;height:110%;z-index:1;}
.slideshow-item,.slideshow-container .slick-slide{position:relative;float:left;width:100%;height:100%;}
.slide-banner .fl-wrap{display:flex;flex-direction:column;justify-content:center;height:100%;}
.slide-banner h2{font-weight:600;color:#ffffff;}
.slide-banner p{font-size:16px;color:#ffffff;}
.bg:before{position:absolute;content:"";left:0;right:0;top:0;height:100%;width:100%;display:block;background:#282C32;opacity:0.7;}
.bg{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;background-size:cover;background-attachment:scroll;background-position:center;background-repeat:repeat;background-origin:content-box;}
.fl-wrap{float:left;width:100%;text-align:center;color:#ffffff;position:relative;}
.hero-section-wrap{z-index:30;}
.work-process-caption h4{margin-bottom:10px;}
.work-process{margin-bottom:30px;}
.work-process-icon{width:50px;height:50px;float:left;}
.work-process-icon span{font-size:2.5em;color:#a9d434;}
.work-process-caption{margin-left:55px;}
.work-process-caption h4{font-weight:500;margin-bottom:4px;font-size:16px;color:#55646f;position:relative;padding-bottom:15px;text-transform:uppercase;font-family:'Montserrat', sans-serif;}
.work-process-caption h4:before{content:"";bottom:0;left:0;height:2px;width:80px;display:block;position:absolute;background:#a9d434;}
.work-process-caption p{color:#707c88;font-size:14px;line-height:1.8;font-weight:400;font-family:'Montserrat', sans-serif;}
.testimonial{background:#f4f7f7;}
a.btn.bat-call-to-act{padding:13px 56px;border-radius:50px;text-transform:uppercase;font-size:17px;background:rgba(0, 169, 216, .35);transition:all ease-in-out 0.4s;color:#ffffff;margin-top:15px;}
a.btn.bat-call-to-act:hover,a.btn.bat-call-to-act:focus{background:rgba(169, 212, 52, 0.15);}
.pr-table{text-align:center;padding:10px 10px 15px 10px;border:1px solid #c7d1da;margin-bottom:25px;border-radius:6px;}
.pr-header{background:#35434e;display:inline-block;width:100%;padding:30px 0;border-radius:6px;}
.pr-plan{padding:15px 0 5px 0;}
.pr-plan h4{color:#ffffff;font-size:22px;font-family:'Montserrat', sans-serif;margin-top:0;text-transform:uppercase;}
.pr-price{padding:1em 0 0 0;}
.pr-price h3{color:#ffffff;font-size:5.4em;margin-top:0;font-family:'Raleway', sans-serif;}
.pr-price h3 sup{font-family:'Montserrat', sans-serif;color:rgba(255,255,255,0.7);margin-right:5px;font-size:25px;}
.pr-header.active{background:#a9d434;}
.pr-price h3 sub{font-family:'Montserrat', sans-serif;color:rgba(255,255,255,0.7);font-size:20px;}
.pr-features ul{margin:0;padding:2em 0;}
.pr-features ul li{color:#596a77;padding:10px 0;line-height:1.8;font-size:15px;list-style:none;border-bottom:1px dashed #edeff3;font-family:'Montserrat', sans-serif;}
.pr-buy-button{padding:15px 0;}
.pr-buy-button .pr-btn{display:block;border:1px solid #a9d434;font-family:'Montserrat', sans-serif;text-transform:uppercase;padding:13px 0;color:#a9d434;border-radius:4px;transition:all ease-in-out 0.4s;}
.pr-buy-button .pr-btn:hover,.pr-buy-button .pr-btn:focus{background:#a9d434;color:#ffffff;text-decoration:none;}
.pr-buy-button .pr-btn.active{display:block;border:1px solid #35434e;background:#35434e;font-family:'Montserrat', sans-serif;text-transform:uppercase;padding:13px 0;color:#ffffff;transition:all ease-in-out 0.4s;}
.pr-buy-button .pr-btn.active:hover,.pr-buy-button .pr-btn.active:focus{background:#a9d434;border-color:#a9d434;color:#ffffff;text-decoration:none;}
.footer{background:#1c2733;z-index:-1;text-align:left;}
footer .row.no-padding{margin:0px 10px;}
.footer-widget{padding:1.5em 0em 2em 0em;}
h3.widgettitle.widget-title{font-family:'Montserrat', sans-serif;font-weight:500;text-transform:capitalize;margin-bottom:5px;font-size:18px;color:#ffffff;}
.textwidget{color:#96a4b3;opacity:1;font-size:14px;font-family:'Montserrat', sans-serif;font-weight:400;line-height:1.8;}
.textwidget a{color:#96a4b3;}
.textwidget p{margin-bottom:10px;color:#96a4b3;}
ul.footer-navigation{margin:0;padding:0;}
ul.footer-navigation li{padding:0;line-height:2.2;list-style:none;}
.footer-social{text-align:left;padding:0;margin:0;margin-bottom:25px;}
.footer-social li{list-style:none;display:inline-block;padding-right:7px;margin-bottom:10px;}
.footer-social li a{color:#446d82;font-family:'Montserrat', sans-serif;font-size:15px;letter-spacing:0.5px;}
.footer-social li a i{width:40px;height:40px;border-radius:2px;line-height:40px;background:#243140;text-align:center;color:#5f738a;box-shadow:0px 0px 10px 0px rgba(53, 67, 78,0.10);}
.footer-social li a:hover i{background:#a9d434;color:#ffffff;}
.row.copyright{padding:1.4em 0 0 0;background:#111922;text-align:center;margin:0;}
.copyright p{font-size:15px;letter-spacing:0.5px;color:#96a4b3;font-family:'Montserrat', sans-serif;text-align:center;padding:1em 0;display:inline-block;}
[class^="icon-"]{display:inline-block;width:14px;height:14px;line-height:14px;vertical-align:text-top;background-image:url(http://localhost/wisp/src/img/glyphicons-halflings.png);background-position:14px 14px;background-repeat:no-repeat;}
@media only screen and (min-width : 768px){
body nav.navbar.bootsnav ul.nav > li > a.signin{color:#ffffff!important;border-radius:2px;padding:8px 20px;margin-left:5px;}
.slide-banner{padding:14% 0;min-height:650px;height:100vh;}
.slide-banner h2{font-size:60px;}
nav.navbar.bootsnav{box-shadow:0 0 20px 0 rgba(62,28,131,0.1);}
h2{font-size:36px;line-height:48px;}
h3{font-size:30px;line-height:36px;}
.navbar-right{margin-top:20px;}
.banner p{font-size:18px;margin:0 auto;}
.banner{min-height:650px;}
}
@media only screen and (min-width : 1024px){
section{padding:80px 0 70px 0;}
.banner{height:100vh;min-height:620px;}
nav.navbar.bootsnav ul.nav > li{padding:4px 4px;}
nav.navbar ul.nav > li > a{padding:30px 15px;}
nav.navbar .navbar-brand{margin-top:0;}
nav.navbar .navbar-brand{margin-top:2px;}
}
@media only screen and (min-width : 1200px){
nav.navbar.bootsnav ul.nav > li{padding:4px 12px;}
nav.navbar.bootsnav ul.nav > li > a{padding:8px 9px 22px 9px;}
body nav.navbar.bootsnav ul.nav > li > a.signin{padding:8px 30px;margin-left:5px;}
}
@media only screen and (max-width: 1023px) and (min-width: 993px){
.navbar-nav>li>a{padding:9px 15px 26px 15px;font-size:12px;}
}
@media screen and (max-width: 1199px){
h2{font-size:28px;}
h3{font-size:22px;}
h4{font-size:15px;}
}
@media screen and (max-width: 992px){
h2{font-size:25px;}
h3{font-size:20px;}
h4{font-size:15px;}
nav.navbar .navbar-brand{margin-top:0;position:relative;top:-2px;}
nav.navbar.bootsnav .navbar-toggle{background-color:transparent!important;top:9px;color:#9fabb1;}
}
@media screen and (max-width: 767px){
h2{font-size:25px;}
h3{font-size:20px;}
h4{font-size:15px;}
nav.navbar.bootsnav .navbar-collapse{background-color:#35434E;}
.footer-widget{padding:.5em 0em 1em 0em;}
.footer-social{margin-bottom:0;}
nav.navbar .navbar-brand{top:4px;}
.banner-caption{padding:20px 0px;}
}
@media screen and (max-width: 479px){
h2{font-size:20px;}
h3{font-size:20px;}
h4{font-size:15px;}
}
::selection{background:#a9d434;color:#fff;}
a{color:#707c88;}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#a9d434!important;}
.work-process-caption h4:before{background:#a9d434;}
.pr-buy-button .pr-btn.active:hover,.pr-buy-button .pr-btn.active:focus{border-color:#a9d434;}
.pr-buy-button .pr-btn{border:1px solid #a9d434;color:#a9d434;}
.pr-buy-button .pr-btn:hover,.pr-buy-button .pr-btn:focus{background:#a9d434;}
@media only screen and (min-width : 768px){
li.left-br{border-left:2px solid rgba(169, 212, 52, 0.7);}
}
.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.pace-inactive{display:none;}
.pace .pace-progress{background:#fff;position:fixed;z-index:2000;top:0;right:100%;width:100%;height:2px;}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
.animated{-webkit-animation-duration:1s;-webkit-animation-fill-mode:both;animation-duration:1s;animation-fill-mode:both;}
@media (prefers-reduced-motion){
.animated{-webkit-animation:unset!important;-webkit-transition:none!important;animation:unset!important;transition:none!important;}
}
@-webkit-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
@-moz-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
@keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
@-webkit-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
@keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
@-webkit-keyframes fadeIn{0%{opacity:0;}to{opacity:1;}}
@keyframes fadeIn{0%{opacity:0;}to{opacity:1;}}
@font-face{font-family:'FontAwesome';src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot#iefix&v=4.7.0') format('embedded-opentype'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:et-line;src:url(http://localhost/wisp/src/css/fonts/et-line.eot);src:url(http://localhost/wisp/src/css/fonts/et-lined41d.eot#iefix) format('embedded-opentype'), url(http://localhost/wisp/src/css/fonts/et-line.woff) format('woff'), url(http://localhost/wisp/src/css/fonts/et-line.ttf) format('truetype'), url(http://localhost/wisp/src/css/fonts/et-line.svg#et-line) format('svg');font-weight:400;font-style:normal;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:400;src:local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:400;src:local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:500;src:local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwN4rWqhPAMif.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:500;src:local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwN4rWqZPAA.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:600;src:local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwPIsWqhPAMif.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:600;src:local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwPIsWqZPAA.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:700;src:local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:700;src:local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}