@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700);
body,section{
    background:#fff
}
body,html,html body .full-width{
    width:100%
}
.main-heading h2,body,nav.navbar.bootsnav ul.nav>li>a,p{
    font-family:Montserrat,sans-serif
}
.main-heading h2,.slide-banner,body,p{
    position:relative
}
body,html{
    height:auto;
    margin:0;
    padding:0;
    overflow-x:hidden
}
body{
    font-size:14px;
    color:#35434e;
    line-height:24px
}
h2{
    font-size:30px
}
h3{
    font-size:25px
}
h4{
    font-size:16px
}
.btn,p{
    font-size:14px
}
p{
    text-transform:capitalize;
    color:#707c88;
    line-height:23px;
    -webkit-transition:.2s ease-in;
    -moz-transition:.2s ease-in;
    transition:.2s ease-in
}
a,a:active,a:focus,a:hover{
    outline:0;
    text-decoration:none;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
section{
    padding:70px 0 60px
}
html body .cl-white{
    color:#fff!important
}
.br-1{
    border-right:1px solid #eaeff5!important
}
:focus{
    outline:0
}
.btn:focus,.btn:hover,button:focus,button:hover{
    cursor:pointer
}
.btn{
    border-radius:2px;
    padding:14px 20px;
    letter-spacing:.5px;
    box-shadow:0 2px 8px rgba(102,103,107,.15)
}
.btn:focus,.btn:hover{
    text-decoration:none
}
button:focus{
    outline:0
}
.btn:focus{
    outline:0;
    box-shadow:none
}
.btn-primary{
    background:#2196f3;
    border-color:#2196f3;
    color:#fff
}
.btn-primary:active,.btn-primary:active:focus,.btn-primary:active:hover,.btn-primary:focus,.btn-primary:hover{
    background:#2196f3;
    border-color:#2196f3;
    color:#fff;
    outline:0
}
.btn-success{
    background:#a9d434;
    border-color:#96bc2e;
    color:#fff
}
.btn-success:active,.btn-success:active:focus,.btn-success:active:hover,.btn-success:focus,.btn-success:hover{
    background:#96bc2e;
    border-color:#96bc2e;
    color:#fff;
    outline:0
}
button:focus,button:hover,input:focus,input:hover{
    outline:0
}
.form-control{
    height:50px;
    margin-bottom:10px;
    box-shadow:none;
    border-radius:0;
    background:#fbfdff;
    font-size:15px;
    color:#000;
    font-weight:400
}
textarea::-moz-placeholder{
    color:#6a7884;
    opacity:1
}
textarea::-ms-input-placeholder{
    color:#6a7884
}
textarea::-webkit-input-placeholder{
    color:#6a7884
}
.form-control::-ms-input-placeholder{
    color:#99abb9
}
.main-heading{
    text-align:center;
    margin-bottom:2em
}
.main-heading p{
    font-size:16px;
    color:#707c88;
    margin-bottom:5px;
    text-transform:uppercase
}
.main-heading h2{
    color:#35434e;
    font-weight:600;
    margin-top:0;
    margin-bottom:10px
}
.navbar-default{
    background-image:none;
    filter:none;
    background-repeat:repeat-x;
    border-radius:0;
    -webkit-box-shadow:none;
    box-shadow:none
}
nav.navbar.bootsnav ul.nav>li>a{
    color:#fff;
    text-transform:uppercase;
    background-color:transparent!important
}
.form-control::-moz-placeholder{
    color:#282C32;
    opacity:1
}
.form-control:-ms-input-placeholder{
    color:#282C32
}
.form-control::-webkit-input-placeholder{
    color:#282C32
}
nav.navbar.bootsnav{
    background-color: #35434e8a;
    border-bottom:1px solid #35434e47
}
@media only screen and (min-width :768px){
    body nav.navbar.bootsnav ul.nav>li>a.signin{
        background:#11b719!important
    }
    li.left-br{
        border-left:2px solid #a9d434b0
    }
}
form.form-horizontal{
    padding:15px 15px 0;
    background:rgba(255,255,255,.2);
    display:table;
    width:80%;
    border-radius:4px;
    margin-left:auto;
    margin-right:auto
}
select.form-control:focus{
    border:1px solid #11b719;
    box-shadow:0 0 7px 1px rgba(7,177,7,.1)
}
.slide-banner{
    background-size:cover!important;
    background-position:center!important;
    padding:12% 0;
    margin:0;
    overflow:hidden
}
.slideshow-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:110%;
    z-index:1
}
.slideshow-item{
    position:relative;
    float:left;
    width:100%;
    height:100%
}
.slide-banner .fl-wrap{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%
}
.bg:before,.work-process-caption h4:before{
    content:"";
    display:block
}
.slide-banner h2{
    font-weight:600;
    color:#fff
}
.slide-banner p{
    font-size:16px;
    color:#fff
}
.slide-banner .form-horizontal{
    margin-top:20px
}
.slide-banner .form-horizontal .input-group{
    width:100%
}
.slide-banner .form-horizontal .form-control{
    border:none
}
.slide-banner .form-horizontal .btn,.slide-banner .form-horizontal .form-control{
    height:45px
}
.bg,.bg:before{
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    left:0
}
.bg:before{
    right:0;
    background:#12233e;
    opacity:.7
}
.bg{
    z-index:1;
    background-size:cover;
    background-attachment:scroll;
    background-position:center;
    background-repeat:repeat;
    background-origin:content-box
}
.fl-wrap{
    float:left;
    width:100%;
    text-align:center;
    color:#fff;
    position:relative
}
.hero-section-wrap{
    z-index:30
}
.work-process{
    margin-bottom:30px
}
.work-process-icon{
    width:50px;
    height:50px;
    float:left
}
.work-process-icon span{
    font-size:2.5em
}
.work-process-caption{
    margin-left:55px
}
.work-process-caption h4{
    font-weight:500;
    margin-bottom:4px;
    font-size:16px;
    color:#55646f;
    position:relative;
    padding-bottom:15px;
    text-transform:uppercase;
    font-family:Montserrat,sans-serif
}
.client-testimonial .client-description,.work-process-caption p{
    color:#707c88;
    font-size:14px;
    font-family:Montserrat,sans-serif
}
.work-process-caption h4:before{
    bottom:0;
    left:0;
    height:2px;
    width:80px;
    position:absolute
}
.work-process-caption p{
    line-height:1.8;
    font-weight:400
}
.testimonial{
    background:#f4f7f7
}
.client-testimonial{
    text-align:center;
    margin:50px 10px 0;
    padding:0 10% 4%;
    background:#fff;
    border-radius:4px;
    box-shadow:0 0 10px 0 rgba(0,0,0,.1);
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.1);
    -o-shadow:0 0 10px 0 rgba(0,0,0,.1)
}
.client-testimonial .pic{
    width:100px;
    height:100px;
    border-radius:50%;
    border-bottom:2px solid #07b107;
    display:inline-block;
    margin-top:-50px;
    overflow:hidden;
    box-shadow:0 2px 6px rgba(0,0,0,.15)
}
.client-testimonial .pic img{
    width:100%;
    height:auto
}
.client-testimonial .client-description{
    line-height:30px;
    margin:10px 0 5px
}
.client-testimonial .client-testimonial-title{
    font-size:14px;
    font-weight:700;
    margin:0;
    color:#55646f;
    text-transform:uppercase
}
.client-testimonial .client-testimonial-rating{
    margin:0 0 15px;
    padding:0;
    list-style:none
}
.client-testimonial .client-testimonial-rating li{
    color:#4caf50;
    display:inline-block
}
.client-testimonial .client-testimonial-rating li.fa-star{
    color:#4caf50
}
.footer{
    background:#1c2733;
    z-index:-1;
    text-align:left
}
footer .row.no-padding{
    margin:0 10px
}
.footer-widget{
    padding:1.5em 0 2em
}
.lg-menu{
    border-bottom:1px solid #344456;
    padding:1em 0;
    margin:0
}
.lg-menu ul{
    margin:0;
    padding:0;
    float:right
}
.lg-menu ul li{
    display:inline-block;
    list-style:none;
    padding-left:20px
}
.lg-menu ul li a{
    text-transform:uppercase;
    color:#96a4b3;
    font-family:Montserrat,sans-serif
}
.lg-menu ul li a:focus,.lg-menu ul li a:hover{
    text-decoration:none;
    color:#a9d434
}
h3.widgettitle.widget-title{
    font-family:Montserrat,sans-serif;
    font-weight:500;
    text-transform:capitalize;
    margin-bottom:5px;
    font-size:18px;
    color:#fff
}
.textwidget,.textwidget a,.textwidget p{
    color:#96a4b3
}
.textwidget{
    opacity:1;
    font-size:14px;
    font-family:Montserrat,sans-serif;
    font-weight:400;
    line-height:1.8
}
.copyright p,.footer-social li a{
    font-size:15px;
    letter-spacing:.5px;
    font-family:Montserrat,sans-serif
}
.textwidget p{
    margin-bottom:10px
}
ul.footer-navigation{
    margin:0;
    padding:0
}
ul.footer-navigation li{
    padding:0;
    line-height:2.2;
    list-style:none
}
.footer-social{
    text-align:left;
    padding:0;
    margin:0 0 25px
}
.footer-social li{
    list-style:none;
    display:inline-block;
    padding-right:7px;
    margin-bottom:10px
}
.footer-social li a{
    color:#446d82
}
.footer-social li a i{
    width:40px;
    height:40px;
    border-radius:2px;
    line-height:40px;
    background:#243140;
    text-align:center;
    color:#5f738a;
    box-shadow:0 0 10px 0 rgba(53,67,78,.1)
}
.footer-social li a:hover i{
    background:#a9d434;
    color:#fff
}
.footer-form .form-control{
    margin-bottom:7px;
    width:100%;
    height:42px;
    border-radius:2px;
    background:#263444;
    border-color:#324356;
    color:#748898
}
.footer-form textarea.form-control{
    height:70px
}
.footer-form .btn-primary{
    background:#11b719;
    border-radius:2px;
    color:#fff;
    padding:10px 40px;
    border-color:#10c110
}
.row.copyright{
    padding:1.4em 0 0;
    background:#111922;
    text-align:center;
    margin:0
}
.copyright p{
    color:#96a4b3;
    text-align:center;
    padding:1em 0;
    display:inline-block
}
.btn-login,.text-login{
    color:#fff
}
.inner-header-title.blank:before{
    opacity:0
}
[class^=icon-]{
    display:inline-block;
    width:14px;
    height:14px;
    line-height:14px;
    vertical-align:text-top;
    background-position:14px 14px;
    background-repeat:no-repeat
}
form{
    display:inline-block;
    width:100%
}
.login-screen{
    position:relative;
    max-width:450px;
    margin:6% auto 0
}
section.login-screen-sec{
    background:0 0
}
.login-screen .form-control{
    border-radius:50px;
    margin-bottom:15px;
    padding-left:15px;
    background:0 0
}
.login-screen img{
    margin:1.5em auto
}
button.btn.btn-login{
    border-radius:50px;
    min-width:200px;
    padding:12px 0;
    box-shadow:0 0 12px 1px rgba(61,214,34,.4);
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin:0 auto;
    display:table
}
.login-screen span{
    margin-top:12px;
    display:inline-block;
    text-align:center;
    font-family:Montserrat,sans-serif;
    width:100%
}
.btn-login{
    border-radius:2px;
    padding:12px 25px;
    text-transform:uppercase;
    display:table;
    margin:0 auto;
    min-width:220px
}
@media only screen and (min-width :768px){
    body nav.navbar.bootsnav ul.nav>li>a.signin{
        color:#fff!important;
        border-radius:2px;
        padding:8px 20px;
        margin-left:5px
    }
    .slide-banner{
        padding:14% 0;
        min-height:650px;
        height:100vh
    }
    .slide-banner h2{
        font-size:60px
    }
    nav.navbar.bootsnav{
        box-shadow:0 0 20px 0 rgba(62,28,131,.1)
    }
    nav.navbar.bootsnav.navbar-transparent.white{
        box-shadow:none
    }
    h2{
        font-size:36px;
        line-height:48px
    }
    h3{
        font-size:30px;
        line-height:36px
    }
    .navbar-right{
        margin-top:20px
    }
    .lg-menu ul{
        margin-top:10px
    }
}
@media only screen and (min-width :1024px){
    section{
        padding:80px 0 70px
    }
    nav.navbar.bootsnav ul.nav>li{
        padding:4px
    }
    nav.navbar ul.nav>li>a{
        padding:30px 15px
    }
    nav.navbar .navbar-brand{
        margin-top:2px
    }
    nav.navbar .navbar-brand img.logo{
        width:210px
    }
    nav.navbar.bootsnav.navbar-transparent.white{
        background-color:transparent;
        border-bottom:none
    }
    nav.navbar.bootsnav.navbar-transparent.white ul.nav>li>a{
        color:rgba(255,255,255,1)
    }
}
@media only screen and (min-width :1200px){
    nav.navbar.bootsnav ul.nav>li{
        padding:4px 12px
    }
    nav.navbar.bootsnav ul.nav>li>a{
        padding:8px 9px 22px
    }
    body nav.navbar.bootsnav ul.nav>li>a.signin{
        padding:8px 30px;
        margin-left:5px
    }
}
@media only screen and (max-width:1023px) and (min-width:993px){
    .navbar-nav>li>a{
        padding:9px 15px 26px;
        font-size:12px
    }
    .navbar-brand>img.logo.logo-display{
        display:none
    }
    img.logo.logo-scrolled{
        max-width:200px;
        margin-top:10px
    }
}
@media screen and (max-width:1199px){
    h2{
        font-size:28px
    }
    h3{
        font-size:22px
    }
    h4{
        font-size:15px
    }
}
@media screen and (max-width:992px){
    h2{
        font-size:25px
    }
    h3{
        font-size:20px
    }
    h4{
        font-size:15px
    }
    nav.navbar .navbar-brand{
        margin-top:0;
        position:relative;
        top:-2px
    }
    nav.navbar .navbar-brand img.logo{
        width:140px
    }
    nav.navbar.bootsnav .navbar-toggle{
        background-color:transparent!important;
        top:9px;
        color:#9fabb1
    }
}
@media screen and (max-width:767px){
    h2{
        font-size:25px
    }
    h3{
        font-size:20px
    }
    h4{
        font-size:15px
    }
    nav.navbar.bootsnav .navbar-collapse{
        background-color:#35434E;
        border-bottom:1px solid #35434E
    }
    .slide-banner .form-horizontal .btn,.slide-banner .form-horizontal .form-control{
        margin-bottom:12px
    }
    .footer-widget{
        padding:.5em 0 1em
    }
    .footer-social{
        margin-bottom:0
    }
    .lg-menu ul{
        margin-top:20px
    }
    .lg-menu ul li{
        padding-left:0;
        padding-right:10px
    }
    nav.navbar .navbar-brand{
        top:4px
    }
}
@media screen and (max-width:479px){
    h2,h3{
        font-size:20px
    }
    h4{
        font-size:15px
    }
}
::selection{
    background:#07b107;
    color:#fff
}
a{
    color:#707c88
}
.btn.btn-primary:focus,.btn.btn-primary:hover{
    border:1px solid #96bc2e;
    background:#96bc2e
}
.btn.btn-primary{
    border:1px solid #a9d434;
    background:#a9d434
}
.form-control:focus,.form-control:hover{
    outline:0;
    border:1px solid #07b107;
    -webkit-box-shadow:0 1px 1px rgba(7,177,7,.075);
    box-shadow:0 1px 1px rgba(7,177,7,.075)
}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{
    color:#a9d434!important
}
.main-heading h2>span,.work-process-icon span{
    color:#07b107
}
.work-process-caption h4:before{
    background:#07b107
}
.footer-form .btn-primary:focus,.footer-form .btn-primary:hover{
    border-color:#a9d434;
    background:#a9d434
}
.btn-login{
    background:#07b107
}
button.btn.btn-login{
    background:#a9d434;
    border:1px solid #96bc2e
}
.login-screen span a{
    color:#a9d434
}
@media only screen and (min-width :768px){
    body nav.navbar.bootsnav ul.nav>li>a.signin{
        background:#a9d434!important
    }
    li.left-br{
        border-left:2px solid #a9d434b0
    }
}
